body{
    font-family: "Montserrat", sans-serif;
    background-color: rgb(0, 0, 0);
    color:rgb(255, 255, 255);
    margin:0;
    overflow: hidden;
}
.main{
    display: flex;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    padding-left: 1rem;
}
.sidebar{
    background-color: rgb(0, 0, 0);
    width: 340px;
    border-radius: 1rem; /*1rem is equal to 16px the main size of web page */
}
.main-content{
    background-color:  rgb(20, 20, 20);
    border-radius: 1rem;
    overflow:scroll; /*this means whenever the content is more than the box size then the content enables to scroll the data */
    scroll-behavior: smooth;
    flex: 1;/*This means whatever the leftover space in main display give it this div */
}
.music-player{
    background-color: black;
    height: 72px;
    width: 100%;
    position: fixed;
    bottom: 0;
}
.nav a{
    font-size: 1rem;
}
.nav{
    display:flex;
    flex-direction: column;
    border-radius: 1rem;
    line-height: 2.25rem;
    padding: 0.75rem 0.75rem;
    justify-content: center;
    margin: 0.5rem;
    background-color:rgb(20,20,20);
}
.nav-option a{
    text-decoration: none;
    color: white;
    margin: 0.75rem;
    font-size: 1rem;
}
.nav-option i{
    font-size: 1.15rem;
    /* font-weight: 900; */
}
.nav-option{
    opacity: 0.8;
}
.nav-option:hover{
    opacity: 1;
}
.lib-options img{
    height: 1.25rem;
    width: 1.25rem;
}
.library{
    overflow:auto;
    height: 100vh;
    background-color: rgb(20, 20, 20);
    border-radius: 1rem;
    margin: 0.5rem;
    /* padding: 0.75rem 0.75rem; */

}
.option{
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: 2.25rem;
    padding: 0.75rem 0.75rem;
    justify-content: space-between;
}
.option .icons{
    margin-right: 0.25rem;
}
.icons i{
    margin-right: 1rem;
}
.box{
    border-radius: 1rem;
    background-color: rgb(40,40,40);
    height: 9rem;
    padding: 0.25rem 0 0 1.25rem;
    margin: 1rem;
}
.badge{
    border: none;
    height: 2rem;
    padding: 0.25rem 1.25rem 0.25rem 1.25rem;
    width: fit-content;
    font-weight: 700;
    border-radius: 1.1rem;
    margin-top: 0.5rem;
}
.p1-box{    
    font-size: 1rem;
    font-weight: 700;
}
.p2-box{
    font-size: 0.8rem;
    padding-right:1rem;
}
.navbar{
    display: flex;
    justify-content:space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10; 
    /* Z -index means when that particular block has highest vakue then it would 
    be appearing top while overlapping of blocks */
    background: linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0));
    /* background-color: rgba(0,0,0,0.7) */
}
.sticky-nav-icons{
    display: flex;
    align-items: center;
}
.sticky-nav-icons img{
    background-color: black;
    border-radius: 50%;
    padding: 5px;
    margin: 0.5rem;
}
.sticky-nav-options{
    display: flex;
}
.sticky-nav-options button{
    margin-left: 0.5rem;
}
.nav-item{
    background-color: black;
    color: white;
}
@media (max-width:1000px){
    .hide{
        display: none;
    }
}
.main-content {
    margin-left: 0.4rem;
}
.cards{
    padding:0 1rem 0 1rem;
}
.card{
    width: 150px;
    padding: 0.75rem;
    background-color: #232323;
    border-radius: 5%;
    margin-left: 1rem;
    margin-top: 1rem;
}
.img1{
    position: relative;
    height: 60%;
    width: 100%;
    margin: 2px auto;
    border-radius: 5%;
}
.Heading{
    font-weight: 700;
}
.desc{
    opacity: 0.7;
    font-size: 0.75rem;
}
.cards-container{
    display: flex;
    flex-wrap: wrap;
}
.sidebarfotter{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.footer{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.line{
    height: 60%;
    width: 98%;
    border-top: 2px solid rgb(255, 255, 255);
    opacity: 0.3;
}
.music-player{
    display: flex;
}
.album{
    width: 25%;
}
.playback-bar{
    width: 50%;
}
.controls{
    width: 25%;
}
.playback-bar-up{
    display: flex;
    justify-content:center;
    align-items: center;
}
.playback-bar-down{
    display: flex;
    justify-content:center;
    align-items: center;
    padding-top: 0.5rem;
}
.playback-bar img{
    height: 1rem;
    margin-left: 1.5rem;
    padding-top: 0.5rem;
    opacity: 0.7;
}
.playback-bar .Play{
    height: 2rem;
    opacity: 1;
}
.playback-bar img:hover{
    opacity: 1;
    transform: scale(1.1);
}
.playback-bar-down .progress-bar{
    width: 75%;
}
.playback-bar-down input{
    appearance: none;
}
.playback-bar-down ::-webkit-slider-runnable-track{
    border-radius: 100px;
    background-color: rgb(223, 226, 207);
    height: 0.35rem;
}
.playback-bar-down ::-webkit-slider-thumb{
    appearance: none;
    border-radius: 50%;
    height: 1rem;
    width: 1rem;
    background-color: blue;
    margin-top: -6px;
}
.album{
    margin: 0.2rem;
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
}
.album .album-img img{
    height: 3.5rem;
    width: 3.5rem;
    padding: 0.5rem;
}
.album .album-artist{
    font-weight: 500;
    font-size: 0.8rem;
}
.artist{
    margin: 0.25rem 0.5rem 0.25rem 0.5rem;
}
.song{
    margin: 0.5rem 0.5rem 0.8rem 0.5rem;
}
.album-icon{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-evenly; 
}
.controls{
    display: flex;
    align-items: center;
    justify-content: end;
}
.controls-vol{
    margin: 0.45rem;
}
.controls i{
    margin: 0.45rem;
    opacity: 0.7;
}
.controls i:hover{
    opacity: 1;
    transform: scale(1.15);
}
.album-icon i{
    opacity: 0.7;
}
.album-icon i:hover{
    opacity: 1;
    transform: scale(1.15);
}
::-webkit-scrollbar{
    /* display: none; */
    appearance: none;
}
::-webkit-scrollbar-button{
    display: none;
    background-color: rgb(255, 255, 255);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
::-webkit-scrollbar-track{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: rgb(59, 59, 59);
}
::-webkit-scrollbar-thumb{
    border: 4px solid  rgb(124, 124, 124);
    border-radius: 10px;
    background-color: rgb(26, 18, 18);
}
::-webkit-scrollbar-track-piece{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: rgb(124, 124, 124);
}