*{
    margin: 0;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    scrollbar-width: 10px;
}
.nav{
    background-color: #0f1111;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-items: center;
}

.nav-logo{
    height: 50px;
    width: 100px;
    padding: 2.5px;
    
}
.logo{
    background: url(amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100%;
    transform: scale(1.25);
}
.border{
    border: 1.5px solid transparent;
    margin: 0px 3px 0px 3px;

}
.border:hover{
    border: 2px solid rgb(219, 219, 219);
    border-radius: 5px;
    box-shadow: 0.15px 0.15px 1px rgb(224, 224, 224);
}
.add_icon{
    margin: 10px 5px 10px 5px;
}
.add_icon i{
    color: white;
}
.add-deli{
    font-size: 0.75rem;
    font-weight: 100;
    color: rgb(228, 228, 228);
    margin-bottom: 0;
}
.add-contry{
    font-size: 0.95rem;
    margin-top: 0;
    font-weight: 800;
    color: rgb(255, 255, 255);
}
.add{
    display: flex;
    height: 50px;
    width: 80px;
    padding: 2.5px;
    align-items: center;
}
.nav-search{
    display: flex;
    flex-grow: 1;
    height: 40px;
    margin: 0px 1.5rem 0 1.5rem;
    border-radius: 5px;
}
.nav-search:hover{
    border: 0.5px solid gold;
    box-shadow: 0px 0px 8px gold;
}
.nav-select{
    color: black;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 10%;
    border: none;
    margin-right: 1.5px;
}
.nav-text{
    width: 81%;
    border: none;
    margin-right: 1.5px;

}
.nav-search-icon{
    top: 30%;
    background-color: rgb(230, 176, 0);
    flex-grow: 1;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-search-icon i{
    color: black;
    transform: scale(1.35);
}
.nav-search-icon i:hover{
    transform: scale(1.45);
}
.nav-flag{
    width: 52px;
    height: 50px;
    margin: 10px 5px 10px 5px;
}
.flag{
    padding: 5px;
    text-align: center;
    transform: scale(0.6);
    height: 20px;
    width: 40px;
    background: url(https://imgs.search.brave.com/DAFuHGpijCt0ybNVeU7lOud1SbBMlt4ggN2pAHiosP4/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9jZG4u/YnJpdGFubmljYS5j/b20vOTcvMTU5Ny0w/MDQtMDU4MTZGNEUv/RmxhZy1JbmRpYS5q/cGc);
    background-size: cover;
}
.nav-flag p{
    color: rgb(190, 190, 190);
    font-size: 0.7rem;  
    text-align: center; 
}
.box-1{
    margin-right: 1rem;
    padding-top:0.9rem;
    height: 40px;
    
}
.hello {
    color: white;
    font-size: 0.75rem;

}
.accounts{
    color: white;
    font-size: 0.9rem;
    font-weight: 700;
    margin-right: 5px;
}
.cart i{
    color: white;
    margin: 10px;
    transform: scale(1.5);
}
#cart1{
    display: flex;
}
#cart2{
    padding-top: 10px;
}
.panel{
    display: flex;
    background-color: #113030;
    height: 40px;
    /* width: 100%; */
    padding: 0px 0px 0px 11px;
}
.all{
    color: white;
    font-size: 0.92rem;
    font-weight: 700;
    padding: 12px 9px;
    margin-right: 1rem;
}
.panel i{
    color: white;
    transform: scale(1.15);
    margin-right: 5px;
}
.panel-options{
    display: flex;
    align-items: center;
}
.panel-options p{
    color: white;
    margin-right: 20px;
    font-size: 0.85rem;
}
::-webkit-scrollbar{
    display: none;
}
.hero{
    background:url(hero_image.jpg);
    height: 300px;
    /* width: 100%; */
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.opt i{
    text-align: center;
    transform: scale(2.5);
    padding-left: 2rem;
    color: white;
}
.opt{
    width: 80px;
    height: 250px;
}
.box-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box{
    margin-top: 1rem;
    height: 400px;
    width: 23%;
    background-color: white;
}
.box-content{
    padding: 20px 0px 15px;
    margin: 0px 29px;
}
.box-image{
    margin: 10px 0px 10px 0px;
    height: 300px;
    width: 100%;
}
.box-content a{
    color: blue;
    text-decoration: none;
    font-size: 0.85rem;
}

.signin{
    background-color: white;
    height: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.upinfo{
    font-size: 0.90rem;
    margin: 0.4rem;
}
.signin .line{
    background-color: grey;
    width: 100%;
    height: 1px;
    margin:10px 0px 10px 0;
}
.signinn{
    padding: 1rem;
    background-color: #e2e7e6;
    height: 150px;
}
.signin button{
    border: 2px solid black;
    border-radius: 5px;
    font-size: 0.84rem;
    background-color: rgb(255, 208, 0);
    width: 240px;
    height: 32px;
}
.downinfo{
    font-size: 0.7rem;
    margin: 0.4rem;
}
.downinfo a{
    text-decoration: none;
    color: blue;
}
.foot-panel1{
    font-weight: 600;
    font-size: 0.88rem;
    color: white;
    background-color: #113030;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.foot-panel2{
    height: 330px;
    background-color: #293835;
    display: flex;
    align-items:start;
    justify-content: space-evenly;
}
.foot-panel2 ul p{
    font-weight: 600;
    color: white;
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
}
.foot-panel2 ul a{
    display: block;
    text-decoration: none;
    font-size: 0.8rem;
    margin-top: 10px;
    color: rgb(187, 187, 187);
}
.foot-panel2 ul a:hover{
    text-decoration: underline;
}
.foot-panel3{
    background-color:#293835 ;
    height: 68px;
    width: 100%;
    border-top: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    background: url(amazon_logo.png);
    background-size: cover;
    height: 35px;
    width: 75px;
    transform: scale(1.25);
}
.foot-panel4{
    border-top: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:#293835 ;
    height: 60px;   
}
.foot-panel4 a{
    color: white;
    text-decoration: none;
    font-size: 0.75rem;
    margin-left: 1rem ;
}
.foot-panel4 a:hover{
    text-decoration: underline;
}
.foot-panel4 .copy{
    margin-top: 0.42rem;
    color: white;
    text-decoration: none;
    font-size: 0.75rem;
    margin-left: 1rem ;
}
.options3{
    margin-left: 5rem;
    display: flex;
}
.opti{
    width: auto;
    height: 20px;
    padding: 7.5px;
    border: 1px solid rgb(206, 206, 206);
    border-radius: 5px;
    color: white;
    margin: 0.35rem;
}
.opti:hover{
    box-shadow: 0 0 5px white;
    cursor: pointer;
}
.opti i{
    color: white;
}